/* As fontes utilizadas nesse código, foram embedadas no head do arquivo index, essa forma é útil quando se tem confiança em que o sistema de onde as fontes foram retiradas, não irá cair por um bom tempo ou nunca.*/ 
/*Para garantir que isso não irá acontecer, ou se não houver confiança no site do qual as fontes foram extraídas, o melhor a se fazer é o download das fontes.*/

/*Reset*/
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0E1014;
    color: #F5F5F5;
}

header img{
    display: block;
    margin: 75px 0 0 180px;
}             

h1{
    font-size: 80px;      /*---------> utilizando a conversão de pt(points) para px (pixels).*/
    font-family: "unbounded", sans-serif;
    font-weight: bold;     /* ------------> Peso da fonte (700 ou bold)*/
    font-display: swap;    /*Caso a fonte principal demore a ser renderizada por algum motivo, ocorre o fall back (sistema apresenta a fonte secundária) até normalizar.*/
    font-style: normal; /* --------> A forma como a fonte é apresentada caso ela tenha diferentes formatações. (oblíqua, itálico e etc).*/
    text-align: center; /*alinhamento ao centro.*/
    margin-top: 60px; /*margem superior.*/
    margin-bottom: 24px; /*margem inferior.*/

    /*font-family: serif; Letras com mais acabamentos (estilizadas).*/
    /*font-family: sans-serif; Letras mais retas, sem tanto acabamento, mais utilizadas em sites.*/
    /*font-family: monospace; Letras mais espaçadas, geralmente utilizadas em terminais.*/
    /*font-family: cursive; fonte mais acabada, de forma mais manuscrita, estilizada.*/
    /*font-family: fantasy; mais genérica, estilo papiro, para estilizar.*/
}

h1 span{
    color: #9747FF;
}

a{
    color: #ffffff;
    font-size: 24px;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

p{
    font-family: "poppins", sans-serif;
    font-size: 24px;  /*---------> utilizando a conversão de pt(points) para px (pixels).*/
    font-weight: 400; /* ----------> Peso da fonte (regular ou 400)*/
    text-align: center;
    max-width: 792px;
    width: 100%;
    padding: 0 16px;
    margin: 24px auto 0;
}

section img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media(max-width: 768px){       /*responsividade ==> tablets*/
    header img{
        margin: 65px 0 0 60px;
    }

    h1 {
        font-size: 56px;
    }

    p{
        font-size: 22px;
    }
}

@media(max-width: 375px){        /*responsividade ==> celulares*/
    header img{
        margin: 32px 0 0 16px
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }

    a{
        font-size: 20px;
        width: 251px;
        height: 56px;
        line-height: 56px;
    }
}